name: Deploy hello-web to Chronos
on:
  workflow_dispatch: # 手動デプロイ用
  push:
    branches:
      - main # main にpushされたら自動デプロイ
jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout devops-studio
        uses: actions/checkout@v4
      - name: Show runner info
        run: |
          echo "Runner hostname:"
          hostname
          echo "Current directory:"
          pwd
      - name: Deploy hello-web via docker compose
        run: |
          cd /home/chronos/workspace/apps/hello-web
          echo "docker compose up -dする"
